.statusTag {
  padding: 0.375rem 0.75rem;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
}

.statusTag[data-state='Draft'] {
  background-color: #1eda2d;
  color: #065F46;
}
.statusTag[data-state='Draft']:hover {
  background-color: #BFDBFE;
}

.statusTag[data-state='Open'] {
  background-color: #D1FAE5;
  color: #1E40AF;
}
.statusTag[data-state='Open']:hover {
  background-color: #A7F3D0;
}

.statusTag[data-state='Closed'],
.statusTag[data-state='Obsolete'] {
  background-color: #F3F4F6;
  color: #1F2937;
}
.statusTag[data-state='Closed']:hover,
.statusTag[data-state='Obsolete']:hover {
  background-color: #E5E7EB;
}