.pageContainer {
    width: 100%;
}

.pageContainer[data-type="initiatives"] {
    zoom: 0.75;
}

.pageContainer[data-type="items"] {
    zoom: 1;
}

.addInitiativeButton {
    margin-top: 1rem;
    margin-right: 1rem;
}